<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--特殊代码配置的字典Id，编码规则中使用-->
    <add key="ProgrameId" value="621523864891035648" />
    <!--生产类型配置的字典Id-->
    <add key="ProductTypeId" value="621526346132230144"/>
    <!--物料类型配置的字典Id-->
    <add key="MaterialTypeId" value="649182050049462272"/>
    <!--工单类型配置的字典Id-->
    <add key="OrderTypeId" value="650308822975516672"/>
    <!--工单状态配置的字典Id-->
    <add key="OrderStatusId" value="634301619403624448"/>
    
    <!--编码规则分类配置的字典Id-->
    <add key="RuleCodeTypeId" value="622836742445207552"/>
    <add key="ScrapCodeId" value="629569980052148224"/>
    
  </appSettings>
</configuration>